<div class="form-group">
      <label>{{ localize "stairways.ui.config.status" }}</label>
      <p style="flex: 3; padding: 1px 5px; background-color: {{ status.color.config }}">{{ localize status.name }}
      </p>
    </div>

    <div class="form-group">
      <label>{{ localize "stairways.ui.config.scene" }}</label>
      <select name="scene">
        {{ selectOptions scenes selected=data.scene }}
      </select>
    </div>

    <div class="form-group">
      <label>{{ localize "stairways.ui.config.name" }}</label>
      <input type="text" name="name" value="{{ data.name }}" data-dtype="String" />
      <p class="hint">{{ localize "stairways.ui.config.name-hint" }}</p>
      <p class="hint">{{ localize "stairways.ui.config.name-warning" }}</p>
    </div>
    <hr />

    <div class="form-group">
      <label>{{ localize "stairways.ui.config.icon" }}</label>
      <div class="form-fields">
        {{#each icons}}
        <img src="{{ @key }}" class="select-icon" title="{{ this }}" height="32" width="32"
          style="background-color: rgba(0, 0, 0, 0.4); cursor: pointer;" />
        {{/each}}
      </div>
    </div>
    <div class="form-group">
      <label></label>
      <div class="form-fields">
        <file-picker name="icon" type="image" placeholder="modules/stairways/icons/stairway.svg" value="{{ data.icon }}" />
      </div>
    </div>

    <div class="form-group slim">
      <label>{{ localize "TOKEN.Dimensions" }} <span class="units">({{ localize "GridUnits" }})</span></label>
      <div class="form-fields">
        <label>{{ localize "Width" }}</label>
        <input type="number" step="0.1" name="width" placeholder="units" value="{{ data.width }}" />
        <label>{{ localize "Height" }}</label>
        <input type="number" step="0.1" name="height" placeholder="units" value="{{ data.height }}" />
      </div>
    </div>

    <div class="form-group">
      <label>{{ localize "stairways.ui.config.disabled" }}</label>
      <input type="checkbox" name="disabled" data-dtype="Boolean" {{ checked data.disabled }} />
    </div>

    <div class="form-group">
      <label>{{ localize "stairways.ui.config.hidden" }}</label>
      <input type="checkbox" name="hidden" data-dtype="Boolean" {{ checked data.hidden }} />
    </div>
    <hr />

    <div class="form-group">
      <label>{{ localize "stairways.ui.config.animate" }}</label>
      <input type="checkbox" name="animate" data-dtype="Boolean" {{ checked data.animate }} />
      <p class="hint">{{ localize "stairways.ui.config.animate-hint-1" }}</p>
      <p class="hint">{{ localize "stairways.ui.config.animate-hint-2" }}</p>
    </div> 